.axis .domain {
  display: none;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 28px;					
    padding: 0px;				
    font: 12px sans-serif;		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
