@charset "utf-8";


html, body {
  /*background-color: #d1d3d4;  */
  background-color: #fff;
  font-size: 100%;
  width: 100%;
  height: 100%;
  /*margin: 0;
  padding: 0;  */

  font-family: "Leto", sans-serif; /* Mike map */
  font-size: 14px;
  color: #333;
}


.svg-container {
    display: block;
    /*display: block;*/
    position: relative;
    width: 100%;
    height: 100%;
    /*padding-bottom: 100%;*/
    vertical-align: top;
    /*overflow: hidden;  */ 
}

.svg-content {
  /*  display: inline-block;*/
    display: block;
    position: relative;
    width: 100%;
    max-height: 100%;    
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%;*/
}

#analysisText, #analysistext {
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
  text-justify: inner-word;
  padding-top: 20px;
}

#topHalfWindow {
  max-width: 85%;
  height: 100vh;
}

#topHalfWindowLE {
  max-width: 100%;
  padding-bottom: 0px;
}

#topHalfWindowGenMort {
  max-width: 80%;
}


#sliderDiv {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 18px;
}

#mapDiv {
  padding-right: 10px;
  padding-left: 10px;
}


#titleDiv {
  text-align: left;
  font-family: "Lato", Sans-serif;
  /*font-size: 3em;*/
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

#chart-container {
  margin: 5px;

}

#chart-panel1 {
  min-height: 800px;
  padding-top: 150px;
}

#chart-panel2 {
  max-width: 80%;
  height: 95vh;  
}

.panel-body {
  width: 100%;
  height: 100%;
}

#chartDiv {
  position: relative;
  z-index: 0;
}

#chartImage {
  max-width: 100%;

  object-fit: fill;
  background-position: center;
  background-repeat: no-repeat;  
}

#cloudImage {
  /*max-width: 100%;*/
  max-height: 76vh;  
  object-fit: fill;
  background-position: center;
  background-repeat: no-repeat;   
}

.grid line {
  stroke: gray;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.maptitle {
  font-size: 3em;
  font-weight: bold;
}

.wrapper {
  text-align: center;
}


#mSlider .slider-selection{
  background: #923025;
}

#mSlider .slider-handle{
  background: #5a201e;
}

/* Mike: map formatting */
div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 100px;         
    height: 28px;         
    padding: 0px;       
    font: 12px sans-serif;    
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.tooltipAlt {
  position: absolute;
  width: 145px;
  height: 24px;
  pointer-events: none;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  color: #000;
  background-color: #ccc;
  padding: 5px 0;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  word-wrap: break-word;
  overflow: visible;

}

.tooltipTree {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 16px sans-serif;
    font-weight: bold;    
    padding: 5px;
    text-align: center;
}

.tooltipBtn {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipBtnText {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;  
}

.tooltipBtn:hover .tooltipBtnText {
    visibility: visible;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

.node-label {
  padding: 4px;
  line-height: 1em;
  white-space: pre;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 9px;
  margin-top: 1px;
}


.axis path,
.axis line {
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
  fill: none;
}

.axis text{
  font-size: 16px;
}

text {
  font-size: 12px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
  cursor: default;
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.titlechart {
  font-size: 18px;
  font-weight: bold;
}



#dataSource {
  position: absolute;
  z-index: 1;
  width: 90%;
}

.subtopic {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}